In [1]:
import json
import math
import pandas as pd

df = pd.read_csv('all-ratings-new.csv', engine='python')
print(df.shape)

(43437, 33)

In [2]:
df.describe()

,helpCount,id,notHelpCount,rClarity,rEasy,rEasyString,rErrorMsg,rHelpful,rOverall,rOverallString,rStatus,rTimestamp,sId,teacher,tid
count,43437.000000,4.343700e+04,43437.000000,43437.000000,43436.000000,43436.000000,0.0,43436.000000,43436.000000,43436.000000,43436.000000,4.343600e+04,43436.000000,0.0,4.343600e+04
mean,0.660082,2.368068e+07,0.371296,3.643415,2.985381,2.985381,NaN,3.673727,3.658601,3.658601,1.022424,1.405914e+12,1249.300511,NaN,1.299126e+06
std,2.293965,7.510376e+06,1.626583,1.486315,1.263178,1.263178,NaN,1.511965,1.459845,1.459845,0.210584,1.441743e+11,106.310215,NaN,7.279321e+05
min,0.000000,2.056000e+03,0.000000,1.000000,1.000000,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,9.440000e+11,60.000000,NaN,9.970000e+02
25%,0.000000,1.819028e+07,0.000000,2.000000,2.000000,2.000000,NaN,2.000000,2.500000,2.500000,1.000000,1.300000e+12,1252.000000,NaN,6.922070e+05
50%,0.000000,2.449169e+07,0.000000,4.000000,3.000000,3.000000,NaN,4.000000,4.000000,4.000000,1.000000,1.430000e+12,1252.000000,NaN,1.272522e+06
75%,1.000000,2.982246e+07,0.000000,5.000000,4.000000,4.000000,NaN,5.000000,5.000000,5.000000,1.000000,1.520000e+12,1252.000000,NaN,1.918284e+06
max,226.000000,3.517235e+07,99.000000,5.000000,5.000000,5.000000,NaN,5.000000,5.000000,5.000000,3.000000,1.640000e+12,13948.000000,NaN,2.730453e+06

In [4]:
df.dtypes

attendance            object
clarityColor          object
easyColor             object
helpColor             object
helpCount              int64
id                     int64
notHelpCount           int64
onlineClass           object
quality               object
rClarity               int64
rClass                object
rComments             object
rDate                 object
rEasy                float64
rEasyString          float64
rErrorMsg            float64
rHelpful             float64
rInterest             object
rOverall             float64
rOverallString       float64
rStatus              float64
rTextBookUse          object
rTimestamp           float64
rWouldTakeAgain       object
sId                  float64
takenForCredit        object
teacher              float64
teacherGrade          object
teacherRatingTags     object
unUsefulGrouping      object
usefulGrouping        object
tid                  float64
professor             object
dtype: object

In [5]:
df.head(10)

,attendance,clarityColor,easyColor,helpColor,helpCount,id,notHelpCount,onlineClass,quality,rClarity,...,rWouldTakeAgain,sId,takenForCredit,teacher,teacherGrade,teacherRatingTags,unUsefulGrouping,usefulGrouping,tid,professor
0,Mandatory,poor,good,poor,0,31691589,0,online,awful,1,...,No,1252.0,Yes,NaN,NaN,"['Tough grader', 'Get ready to read', 'Lots of...",people,people,2407265.0,Theresa Abah
1,NaN,average,average,average,0,31272401,0,online,average,3,...,No,1252.0,Yes,NaN,A,"['Group projects', 'Participation matters', 'L...",people,people,2407265.0,Theresa Abah
2,Not Mandatory,poor,good,poor,0,30650506,0,online,awful,1,...,No,1252.0,Yes,NaN,C+,"['Graded by few things', 'Get ready to read', ...",people,people,2407265.0,Theresa Abah
3,Mandatory,poor,good,poor,0,30650461,0,online,awful,1,...,No,1252.0,Yes,NaN,B+,"['So many papers', 'Group projects', 'Lots of ...",people,people,2407265.0,Theresa Abah
4,Not Mandatory,poor,average,poor,0,33960367,0,NaN,awful,1,...,No,1252.0,Yes,NaN,B,"['Tough grader', 'Lots of homework']",people,people,1920816.0,Shannon Abbott
5,Mandatory,good,poor,good,0,33682898,0,online,awesome,5,...,Yes,1252.0,Yes,NaN,A+,"['Accessible outside class', 'Respected', 'Giv...",people,people,1920816.0,Shannon Abbott
6,Mandatory,good,average,good,2,32917154,0,NaN,good,4,...,Yes,1252.0,No,NaN,A,"[""Skip class? You won't pass."", 'So many paper...",people,people,1920816.0,Shannon Abbott
7,Mandatory,average,good,average,1,32816899,0,NaN,average,3,...,No,1252.0,Yes,NaN,A+,"[""Skip class? You won't pass."", 'Group project...",people,person,1920816.0,Shannon Abbott
8,Mandatory,average,average,average,2,32728037,0,NaN,poor,2,...,No,1252.0,Yes,NaN,A,"['Group projects', ""Skip class? You won't pass...",people,people,1920816.0,Shannon Abbott
9,Mandatory,average,average,average,0,32439602,0,NaN,average,3,...,Yes,1252.0,Yes,NaN,B+,"['Group projects', 'Participation matters', ""S...",people,people,1920816.0,Shannon Abbott

In [6]:
describeDf = df.groupby(['tid', 'professor'])['rOverall'].describe()

print(describeDf.tail(10))
print('\n')
print(describeDf.head(10))

                                 count  mean       std  min  25%  50%  75%  \
tid       professor
2723969.0 Deisy Gonzalez-Zapata    1.0   3.0       NaN  3.0  3.0  3.0  3.0
2724577.0 Lisa Devine              1.0   5.0       NaN  5.0  5.0  5.0  5.0
2726231.0 Sonya Sneed              5.0   1.2  0.447214  1.0  1.0  1.0  1.0
2726977.0 Courtney Graham          2.0   5.0  0.000000  5.0  5.0  5.0  5.0
2727486.0 Lidia Dattao             1.0   3.0       NaN  3.0  3.0  3.0  3.0
2728011.0 Hee Jang                 1.0   5.0       NaN  5.0  5.0  5.0  5.0
2728083.0 Helena Tiller            2.0   1.0  0.000000  1.0  1.0  1.0  1.0
2729063.0 Robert Trusko            1.0   2.0       NaN  2.0  2.0  2.0  2.0
2730452.0 Taylor Mireles           1.0   5.0       NaN  5.0  5.0  5.0  5.0
2730453.0 Marisa Gonzalez          1.0   5.0       NaN  5.0  5.0  5.0  5.0

                                 max
tid       professor
2723969.0 Deisy Gonzalez-Zapata  3.0
2724577.0 Lisa Devine            5.0
2726231.0 Sonya Sneed            2.0
2726977.0 Courtney Graham        5.0
2727486.0 Lidia Dattao           3.0
2728011.0 Hee Jang               5.0
2728083.0 Helena Tiller          1.0
2729063.0 Robert Trusko          2.0
2730452.0 Taylor Mireles         5.0
2730453.0 Marisa Gonzalez        5.0


                           count      mean       std  min   25%  50%    75%  \
tid    professor
997.0  David Holdeman       12.0  4.375000  0.678401  3.0  4.00  4.5  5.000
1000.0 Larry Gleeson        15.0  4.000000  1.210077  1.0  3.50  4.5  5.000
1002.0 Jennifer Way         18.0  4.333333  0.804400  2.5  4.00  4.5  5.000
1005.0 Charles Guarnaccia   45.0  3.588889  1.319818  1.0  3.00  4.0  4.500
1007.0 William McCarter     13.0  4.807692  0.480384  3.5  5.00  5.0  5.000
1012.0 Timothy Montler       7.0  4.500000  0.912871  2.5  4.50  5.0  5.000
1013.0 Donald Staples       14.0  2.821429  1.693961  1.0  1.00  2.5  4.750
2276.0 Kent Chapman         19.0  3.000000  1.536591  1.0  1.75  3.0  4.500
2277.0 Janet Ellis           8.0  3.437500  1.083562  2.0  2.50  3.5  4.125
2282.0 Jianguo Liu          37.0  3.716216  1.361885  1.0  3.00  4.0  5.000

                           max
tid    professor
997.0  David Holdeman      5.0
1000.0 Larry Gleeson       5.0
1002.0 Jennifer Way        5.0
1005.0 Charles Guarnaccia  5.0
1007.0 William McCarter    5.0
1012.0 Timothy Montler     5.0
1013.0 Donald Staples      5.0
2276.0 Kent Chapman        5.0
2277.0 Janet Ellis         5.0
2282.0 Jianguo Liu         5.0